<html>
  <body>
    <h1>Hello My World !</h1>
	<p>This is Node: <%= node['hostname'] %></p>
	<p>Thanks from <%= node['learn_chef_httpd']['me'] %></p>
	<p> --------------------------------------------- </p>
	<p> Env: <%= node['learn_chef_httpd']['Env'] %> </p>
  </body>
</html>
